
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #28a745;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
h2 {
    color: #28a745;
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
    margin-top: 20px;
}
